
<!--<div *ngIf="inputType===text" >-->
<!--  <label>tema</label>-->
<!--  <input type="text" [(ngModel)]="value" (blur)="onTouch()">local: {{val}}-->
<!--</div>-->


<!--<div *ngIf="inputType !== 'text'">{{ val }}</div>-->
<!--<div [ngSwitch]="type">-->
<!--  <input *ngSwitchCase="'text'" type="text" [(ngModel)]="value" (change)="onChange(val)" (blur)="onTouch()">-->
<!--  <div *ngSwitchDefault>{{val}}</div>-->
<!--</div>-->


<div [ngSwitch]="type">
  <input *ngSwitchCase="'text'" type="text" [(ngModel)]="value" (change)="onChange(val)" (blur)="onTouch()">
  <input *ngSwitchCase="'file'" type="file" (change)="onFileSelected($event)" (blur)="onTouch()">
  <input  *ngSwitchCase="'date'" type="date" [(ngModel)]="value" (change)="onChange(val)" (blur)="onTouch()">
  <div *ngSwitchDefault>{{val}}</div>
</div>
